subdomain.domain.com {
    reverse_proxy 127.0.0.1:8096
    tls {
        dns cloudflare api-token
    }
}
subdomain.domain.com {
    reverse_proxy 127.0.0.1:8585
    tls {
        dns cloudflare api-token
    }
}
